<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/menu.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../static/js/jquery-3.5.1.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../static/js/bootstrap.js"></script>
    <!--分页插件-->
    <script src="../static/js/bootstrap-paginator.js"></script>
    <script src="../static/js/menu.js"></script>
</head>
<body>
    <div class="box">
        <div class="row clearfix middle"></div> 
        <ul id="pageLimit"></ul> 
    </div>
</body>
</html>