<!DOCTYPE html>
<html>
 
	<head>
		<meta charset="UTF-8">
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="../static/css/bootstrap.css">

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="../static/js/jquery-2.1.4.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="../static/js/bootstrap.js"></script>

		<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

		<script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
		<link href="../static/css/vipHome.css" rel="stylesheet">
		<script src="../static/js/vipHome.js"></script>
		<!-- <script src="js/cookie.js"></script> -->
		<title></title>
	</head>
 
	<body>
		<div style="width: 1300px;margin: auto;">
			<div class="headBox">
				<div style="display: flex;align-items: center;">
					<img src="" alt="" class="img-circle userHead">
					<div class="vipNewsBox">
						<!-- <div class="vipName">
							<span>Juan</span>
							<img src="" alt="">
						</div>
						<div class="mbTimes">
							不限价配送：0/3
						</div>
						<div class="mbEtime">
							2020-06-06到2020-07-06
						</div> -->
					</div>
				</div>
				<div class="vipBtnGroup">
						<!-- <Button class="vipBtnRenew">续费</Button> -->
						<!-- <Button class="vipBtnEnter">登录</Button> -->
				</div>
			</div>
			<div class="iconBox">
				<div class="icon_title">
					会员权益
				</div>
				<div class="allIcon">
					<!-- <div>
						<img src="images/13.png" class="img-circle" alt="">
						<span>免费配送</span>
					</div>
					<div>
						<img src="images/14.png" class="img-circle" alt="">
						<span>会员特价商品</span>
					</div>
					<div>
						<img src="images/15.png" class="img-circle" alt="">
						<span>优惠券</span>
					</div>
					<div>
						<img src="images/16.png" class="img-circle" alt="">
						<span>活动畅享</span>
					</div>
					<div>
						<img src="images/17.png" class="img-circle" alt="">
						<span>积分翻倍</span>
					</div> -->
				</div>
			</div>	
			<div class="interestBox">
				<div class="interest_title">
					会员特价
				</div>
				<div class="offerBox">
						<!-- <div class="one_offer">
							<img src="images/4.jpg" alt="">
							<span class="offer_title">电视电视电视电视电视电视电视电视电视电视电视</span>
							<span style="color: #f80606;">会员价：1000R</span>
						</div>
						<div class="one_offer">
							<img src="images/4.jpg" alt="">
							<span class="offer_title">电视电视电视电视电视电视电视电视电视电视电视</span>
							<span style="color: #f80606;">会员价：1000R</span>
						</div>
						<div class="one_offer">
							<img src="images/4.jpg" alt="">
							<span class="offer_title">电视电视电视电视电视电视电视电视电视电视电视</span>
							<span style="color: #f80606;">会员价：1000R</span>
						</div>
						<div class="one_offer">
							<img src="images/4.jpg" alt="">
							<span span class="offer_title">电视电视电视电视电视电视电视电视电视电视电视</span>
							<span style="color: #f80606;">会员价：1000R</span>
						</div>
						<div class="one_offer">
							<img src="images/4.jpg" alt="">
							<span class="offer_title">电视电视电视电视电视电视电视电视电视电视电视</span>
							<span style="color: #f80606;">会员价：1000R</span>
						</div>
						<div class="one_offer">
							<img src="images/4.jpg" alt="">
							<span  class="offer_title">电视电视电视电视电视电视电视电视电视电视电视</span>
							<span style="color: #f80606;">会员价：1000R</span>
						</div>
						<div class="one_offer">
							<img src="images/4.jpg" alt="">
							<span class="offer_title">电视电视电视电视电视电视电视电视电视电视电视</span>
							<span style="color: #f80606;">会员价：1000R</span>
						</div>
						<div class="one_offer">
							<img src="images/4.jpg" alt="">
							<span class="offer_title">电视电视电视电视电视电视电视电视电视电视电视</span>
							<span style="color: #f80606;">会员价：1000R</span>
						</div>
						<div class="one_offer">
							<img src="images/4.jpg" alt="">
							<span class="offer_title">电视电视电视电视电视电视电视电视电视电视电视</span>
							<span style="color: #f80606;">会员价：1000R</span>
						</div> -->
				</div>
			</div>
		</div>
	</body>
 
</html>